<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Service</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-row class="temp-content">
        <ion-col size="12">
            <ion-row>
                <ion-col size="2">
                    <span class="icon-item">
                        <ion-icon slot="icon-only" class="icon-shirt" name="shirt"></ion-icon>
                    </span>
                </ion-col>
                <ion-col size="10">
                    <p class="title">Loundry Service</p>
                </ion-col>
            </ion-row>
        </ion-col> 
    </ion-row>
    <ion-list>
        <ion-row class="border-bottom">
            <ion-col size="12">
                <p class="title-body">Waktu Penjemputan</p>
            </ion-col>
        </ion-row>
        <ion-item class="margin20left">
            <ion-label>Pilih Tanggal</ion-label>
            <ion-datetime placeholder="Tanggal"></ion-datetime>
        </ion-item>
        <ion-item class="margin20left">
            <ion-label>Pilih Jam</ion-label>
            <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="Jam"></ion-datetime>
        </ion-item>
        <ion-row class="border-bottom">
            <ion-col size="12">
                <p class="title-body">Berat Cucian</p>
            </ion-col>
        </ion-row>
        <ion-item class="margin20left">
            <ion-col size="2">
                <span class="icon-item" (click)="onDescrement()">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
                </span>
            </ion-col>
            <ion-col size="8">
                <p class="form-time">{{currentNumberText}}</p>
                <input type="hidden" value="{{currentNumber}}"/>
            </ion-col>
            <ion-col size="2">
                <span class="icon-item" (click)="onIncrement()">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </span>
            </ion-col>
        </ion-item>
        <ion-row class="border-bottom">
            <ion-col size="12">
                <p class="title-body">Alamat</p>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label>
                <ion-icon name="locate"></ion-icon>
            </ion-label>
            <ion-input placeholder="Ketikkan Alamat Anda"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Note</ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-col size="12" class="form-button">
        <ion-button expand="block" size="medium" (click)="goBooking()">
            Booking
        </ion-button>
    </ion-col>
</ion-content>