<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Order #0484</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-row class="border-bottom">
        <ion-col size="2">
            <img class="img-profile" src="../../assets/images/person.png"/>
        </ion-col>
        <ion-col size="6">
            <p class="title-small margin-remove">Mitra</p>
            <p class="title margin-minus margin-remove">John Connor</p>
        </ion-col>
        <ion-col size="2">
            <div class="mail-icon">
                <ion-icon class="icon-set" name="mail-outline"></ion-icon>
            </div>
        </ion-col>
        <ion-col size="2">
            <div class="call-icon">
                <ion-icon class="icon-set" name="call-outline"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <p class="title-small margin-remove">Status</p>
            <p class="title margin-minus margin-remove red">Pending</p>
        </ion-col>
        <ion-col size="12" class="margin-minus">
            <p class="title-small margin-remove">Tipe Service</p>
            <p class="title margin-minus margin-remove">Cleaning Service #0484</p>
        </ion-col>
        <ion-col size="6" class="margin-minus">
            <p class="title-small margin-remove">Tanggal Order</p>
            <p class="title margin-minus margin-remove">Feb 04, 2020</p>
        </ion-col>
        <ion-col size="6" class="margin-minus">
            <p class="title-small margin-remove">Tanggal Selesai</p>
            <p class="title margin-minus margin-remove">-</p>
        </ion-col>
        <ion-col size="12" class="margin-minus">
            <p class="title-small margin-remove">Alamat</p>
            <p class="title margin-minus margin-remove">Ionic apps are made of high-level building blocks called Components, 
                which allow you to quickly construct the UI for your app.</p>
            <p>
                <a class="btn-manual">Lihat Peta</a>
            </p>
        </ion-col>
    </ion-row>
</ion-content>