.form-button{
    position: absolute;
    width: 50%;
    bottom: 1%;
}
.temp-content{
    margin-top: 3%;
    margin-bottom:0px;
}
.logo{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.title{
    margin-top:5px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.title-body{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}
.form-time{
    text-align: center;
}
.icon-item{
    padding:2px 5px 2px 5px;
}
.icon-water{
    font-size:30px;
    color:#049df3;
}
.border-bottom{
    border-bottom:1px solid #ddd;
}
.margin20left{
    margin-left: 20px;
}
.btn-back{
    color:#049df3;
}