<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon class="icon-header" name="person" slot="start"></ion-icon>
    <ion-title>My Account</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-row>
        <ion-col size="12">
            <p class="title">John Connor</p>
        </ion-col>
        <ion-col size="12">
            <ion-list>
                <ion-item>
                    <ion-icon name="create-outline" slot="start"></ion-icon>
                    <ion-label>
                      Edit Profil
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="pricetags-outline" slot="start"></ion-icon>
                    <ion-label>
                      Privasi
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="document-outline" slot="start"></ion-icon>
                    <ion-label>
                      Syarat dan Ketentuan
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    <ion-label>
                      Tentang Kami
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon class="red" name="log-out-outline" slot="start"></ion-icon>
                    <ion-label class="red">
                      Keluar
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>