<ion-header [translucent]="true">
  <ion-toolbar>
  <span slot="start">
    <img class="icon-header" src="../../assets/images/tes-icon.png"/>
  </span>
  <ion-title>EzClean</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="slider">
    <ion-slide (click)="goClean()">
        <img
            src="../../assets/images/slider/advance01.jpg"
            />
    </ion-slide>
  </ion-row>
  <ion-row class="slider">
      <ion-slide (click)="goLoundry()">
          <img
              src="../../assets/images/slider/medical01.jpg"
              />
      </ion-slide>
  </ion-row>

</ion-content>
